<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Date:</td>
        <td>Elevator-1</td>
        <td>Elevator-2</td>
        <td>Elevator-3</td>
    </tr>
    {% if reports %}
        {% for report in reports %}
                <tr>
                    <td> {{report.date}} </td>
                    {% for elevator in report.elevators %}
                    <td>{{elevator}}</td>
                    {% endfor %}
                </tr>
        {% endfor %}

    {% endif %}
</table>
</body>
</html>